/* =================================== */
/* === Общие глобальные стили ======== */
/* =================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smartphone-frame {
    width: 450px;
    height: 964px;
    border: none;
    border-radius: 24px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.screen {
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* Прокручиваем содержимое без скроллбара */
    -ms-overflow-style: none; /* Скрываем скроллбар в IE и Edge */
    scrollbar-width: none; /* Скрываем скроллбар в Firefox */
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
}

.screen::-webkit-scrollbar {
    display: none; /* Скрываем скроллбар в Webkit-браузерах (Chrome, Safari) */
}

/* ===================================== */
/* === Стили для заголовков ============ */
/* ===================================== */

.speaker {
    width: 70px; /* Ширина динамика */
    height: 8px; /* Высота динамика */
    background-color: #375a3b; /* Темно-зеленый цвет */
    border-radius: 4px; /* Скругление концов */
    position: absolute;
    top: 15px; /* Расстояние от верхней границы хедера */
    left: 50%;
    transform: translateX(-50%); /* Центрирование полоски */
}

.header {
    position: sticky; /* Фиксируем хедер наверху */
    top: 0;
    left: 0;
    width: 100%; /* Хедер занимает всю ширину контейнера */
    height: 130px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: #49724B;
    color: white;
    box-sizing: border-box;
}

.header h1 {
    margin-top: 20px;
    font-size: 20px;
}

.header p {
    font-size: 16px;
    margin-top: 5px;
}

.location-icon {
    font-size: 22px;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    color: white;
}

.back-btn {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#back-btn {
    display: none;
}

#chatbot-header {
    display: none; /* По умолчанию скрыт */
}

/* ===================================== */
/* === Стили для страниц =============== */
/* ===================================== */

.page {
    display: none; /* По умолчанию страницы скрыты */
    flex-grow: 1; /* Страницы должны занимать все доступное пространство в main */
    overflow-y: auto; /* Включаем прокрутку внутри каждой страницы */
    padding: 20px;
}

.page.active {
    display: block; /* Показываем активную страницу */
}

.header .avatar-emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    font-size: 24px;
    margin-right: 10px;
    margin-top: 11px;
    margin-bottom: 10px;
}

.header .bot-info h1 {
    margin-top: 0;
    font-size: 20px;
}

.header .bot-info p.status {
    text-align: left;
    margin: 0;
    font-size: 12px;
    color: #ccc;
}

#chatbot-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#chatbot-header .back-btn {
    position: absolute;
    left: 20px;
}

#main-content {
    padding: 15px;
}



/* ======================================= */
/* === Стили для чат-бота ================ */
/* ======================================= */

.chat-mode .header {
    justify-content: flex-start;
    text-align: left;
}

.chat-mode .avatar-emoji {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    font-size: 24px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-mode .bot-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-mode .bot-info h1 {
    margin: 0;
    font-size: 18px;
    text-align: left;
}

.chat-mode .bot-info p.status {
    margin: 0;
    font-size: 12px;
    color: #ccc;
    text-align: left;
}

/* ========================================== */
/* === Стили для кнопок ===================== */
/* ========================================== */

.back-btn {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-btn .material-icons {
    font-size: 30px;
    color: white;
    transition: color 0.3s ease;
}

.back-btn:hover .material-icons {
    color: #ddd;
}

.chatbot-open-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #49724B;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: background-color 0.2s ease;
}

.chatbot-open-btn:hover {
    background-color: #639770;
}

.btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #ebebeb;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: 25px;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #d6d6d6;
}


.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service {
    text-align: center;
}

.service img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
}

/* ====================================== */
/* === Стили для секции города ========== */
/* ====================================== */

.city-view {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-image: url('city.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.city-view::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.location-container {
    position: absolute;
    top: 70px;
    left: 15px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.near-me-icon {
    font-size: 22px;
    color: white;
    margin-right: 5px;
}

.location-text {
    font-size: 18px;
    color: white;
}

.image-overlay {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 40px;
    color: white;
}

.image-overlay h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    color: white;
    margin-right: 20px;
    text-align: left;
}

.blur-button {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(20px);
    padding: 15px 0;
    border: none;
    border-radius: 30px;
    width: 100%;
    color: white;
    font-weight: 100;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); 
}

.blur-button:hover {
    background: rgba(255, 255, 255, 0.3);
}


.blur-button span {
    pointer-events: none;
}

/* ====================================================== */
/* === Стили для меню ресторана ========================= */
/* ====================================================== */

.filter-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

.filter-button {
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 8px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button:hover {
    background-color: #49724B;
    color: white;
}

.filter-button.active {
    background-color: #49724B;
    color: white;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.menu-placeholder {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 8px;
    margin-right: 15px;
}

.item-name {
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
}

.item-price {
    font-size: 16px;
    color: #666;
    margin-right: 15px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.minus-btn,
.plus-btn {
    background-color: #49724B;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus-btn:hover,
.plus-btn:hover {
    background-color: #639770;
}

.quantity {
    margin: 0 10px;
    font-size: 16px;
}

.date-selection h3, .time-selection h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.date-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-btn {
    flex-grow: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 8px;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.date-btn:hover {
    background-color: #e2e2e2;
}

.date-btn.selected {
    background-color: #49724B;
    color: white;
    border-color: #49724B;
}

.time-selection {
    margin-top: 20px;
}

input[type="range"] {
    width: 100%;
    margin: 15px 0;
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    height: 8px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #49724B;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    background: #49724B;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#time-label {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #49724B;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.2s ease;
}

.submit-btn:hover {
    background-color: #639770;
}

.menu-placeholder {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 8px;
    margin-right: 15px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.order-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.item-name {
    font-size: 18px;
    font-weight: bold;
}

.order-date {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.item-price {
    font-size: 16px;
    color: #666;
}

/* CITY STYLES */
.city-page-img-container {
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%; /* Ширина контейнера */
    max-height: 200px; /* Ограничение по высоте, как на главной странице */
    margin-bottom: 20px;
}

.city-page-img-container img {
    width: 100%;
    height: auto; /* Автоматическая высота для сохранения пропорций */
    display: block;
    border-radius: 10px;
}


h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}


h3 {
    margin-top: 30px;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* TAXI STYLES */

.taxi-form {
    margin-top: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.taxi-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.taxi-option-btn {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.taxi-option-btn:last-child {
    margin-right: 0;
}

.taxi-option-btn:hover {
    background-color: #e2e2e2;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #49724B;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #639770;
}

/* CHATBOOOOOOT ------------------------------------ */
/* Стили для кнопки открытия бота */

/* Стили для контейнера чата */

#chatbot-container {
    display: none;
    position: relative;
    height: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    padding: 0;
}

#chat-box {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#chat-box-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
    scrollbar-width: none;
    padding: 0 20px;
    margin-bottom: 10px;
}


#chat-box-content::-webkit-scrollbar {
    display: none;
}

/* INPUT CONTAINER -------------------------------------------------------- */
.input-container {
    padding: 15px 20px;
    background-color: #f6f6f6;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    position: sticky;
    bottom: 0;
    z-index: 10;
    width: 100%;

}

textarea {
    flex: 1;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
    max-height: 100px;
    min-height: 40px;
    overflow-y: auto;
    resize: none;
    box-sizing: border-box;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea#user-input {
    flex: 1;
    padding: 12px 20px;
    border-radius: 30px;
    border: 1px solid #ddd;
    resize: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
}

#user-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
}

button.send-btn {
    background-color: #d3d3d3; /* Серый цвет по умолчанию */
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 40px;
    height: 40px;
    transition: background-color 0.2s ease;
}

button.send-btn.enabled {
    background-color: #49724B;
    cursor: pointer;
}

button.send-btn:hover {
    background-color: #639770;
}

button.send-btn i {
    font-size: 24px;
    color: white;
}



/* MESSAGE BUBBLES AND TYPING INDICATOR -------------------------------------------------------- */
.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
    position: relative;
}

.message-container.user {
    align-items: flex-end;
}

.message {
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
    position: relative;
    min-width: 30px;
}

.message.user {
    background-color: #f1f1f1;
    color: black;
    text-align: left;
    border-radius: 15px; 
    padding: 10px 15px;

    max-width: 80%;
    word-wrap: break-word;
}

.message.bot {
    background-color: #609262;
    color: white;
    text-align: left;
    border-radius: 15px;
    padding: 10px 15px;
    max-width: 80%;
    word-wrap: break-word;
}

.timestamp {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}



.typing-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 10px 0;
}

.typing-indicator .dot {
    width: 6px;
    height: 6px;
    margin: 0 2px;
    background-color: #999;
    border-radius: 50%;
    animation: blink 1s infinite both;
}

.typing-indicator .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-indicator .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
